* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    transition: .5s ease;
    background-color: #13181D;
    padding-right: 100px;
    z-index: 5;
}

.logo {
    float: left;
    padding: 10px 0 5px 20px;
}

.logo img {
    height: 60px;
}

.nav-links {
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.underLine {
    color: #01d277;
    line-height: 80px;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.underLine:hover {
    color: #13181D;
    background: #01d277;
}

.center {
    text-align: center;
    padding-top: 200px;
    letter-spacing: 3px;
}

.center h1 {
    padding-bottom: 30px;
    color: #01d277;
}


.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #01d277;
    transition: all 0.3s ease;
}

.header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../Slike/329583.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.center {
    text-align: center;
    padding-top: 300px;
    color: rgba(255, 255, 255, 0.781);
    letter-spacing: 3px;
}

.search {
    border: 3px solid #01d277;
    height: 60px;
    width: 400px;
    font-size: 25px;
    border-radius: 50px;
    padding: 0px 15px;
    outline: none;
    letter-spacing: 2px;
}

/* Global parameters end. */

/* Page Title */
.container{
	margin-top: 60px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* Movies/Tvshows output - START. */
.showcase{
	margin-top: 35px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.showcase h1{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	text-transform: uppercase;
}
.showcase h2{
	color: #13181D;
	font-size: 35px;

}

#movies, #tvShows{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 15px;
	margin: 15px 0;
}
.moviesRows p{

	width: 500px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.moviesRows p a {
	color: #13181D;
}
.infoText{
	color: #13181D;
}
.infoText a:hover{
	color: #13181D;
}



@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    nav {
        padding-right: 0;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 53%;
        transform: translateX(100%);
        animation: navSlideOut 0.5s forwards;
        background: #13181D;
        z-index: 5;
    }
    

    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        float: right;
        padding: 25px 30px 0 0 ;
    }
}

.nav-active {
    transform: translateX(0%);
    animation: navSlide 0.5s ease;
}

@keyframes navSlideOut {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navSlide {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

div:focus, button:focus, span:focus{
    outline: none !important;
}

@media (min-width: 650px){
	.card{
	height: 500px;
	color: #fff;
	width: 300px;
	position: relative;
	margin-bottom: 30px;
	z-index: 2;
	overflow: hidden;
	cursor: default;
	transition: 0.4s ease;
}
.card .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	transition: 0.40s ease;
	background-color: rgba(0,0,0,0.65);
}
.card:hover{
	transform: translateY(-15px);
	box-shadow: 0px 6px 10px rgba(0,0,0,0.10);
}
.card:hover .overlay{
	height: 500px;
}
.card .overlay .movie{
	position: absolute;
	bottom:0;
	left: 0;
}
.card .overlay .movie a{
	display: flex;
	position: relative;
	bottom:0;
	left: 0;
	justify-content: center;
	align-items: center;
    padding: 3px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: #fff;
    color: #333;
    margin: 10px 15px;
    cursor: pointer;
	transition: 0.2s ease;
	text-decoration: none;
	outline: none !important;
}
.card .overlay .movie a:hover{
    background-color: #13181D;
    color: #fff;
}
.movie p {
    color: #fff;
    font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
.movie p span{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.movie p i {
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 22px;
}
.star{
	color: gold;
}
.date{
	text-shadow: 3px 3px rgba(0,0,0,0.35);
	color: #f2f2f2;
}
.card .overlay .movie h2{
    width: 290px;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
	padding: 5px;
	text-align: left;
}
.card .card_img img{
	width: 100%;
	height: 500px;
	z-index: 2;
	overflow: hidden;
}
.card .card_img{
	height: 500px;
	overflow: hidden;
	z-index: 2;
}
}

/* MOVIE / TV SHOW OUTPUT CARDS END*/



/* 				Media Queries 			*/

/* 1440p screens */
@media (max-width:2560px){
	#movies, #tvShows{
		grid-template-columns: repeat(5,1fr);
	}
}
@media (max-width: 1600px){
	#movies, #tvShows{
		grid-template-columns: repeat(4,1fr);
	}
}

/* Max-width 1300 px. */
@media(max-width: 1300px){
	#movies, #tvShows{
		grid-template-columns: repeat(3,1fr);
	}
}
@media (max-width: 1024px){
	.card .overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 500px;
		transform: translateY(0px);
		transition: 0.30s ease-in-out;
		background-color: rgba(0,0,0,0.4);
	}
}
/* Max-width 970 px. */
@media (max-width: 970px){
	#movies, #tvShows{
		grid-template-columns: repeat(2,1fr);
	}
}
/* Max-width 684 px. */
@media (max-width: 684px){
	.title{
		margin-top: 45px;
		flex-direction: column;
	}
}
/* Max-width 650 px. */
@media(max-width: 650px){

	#movies, #tvShows{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card{
		height: 400px;
		width: 280px;
		position: relative;
		transition: 0.2s;
		z-index: 2;
		overflow: hidden;
		cursor: default;
	}
	#movies .card:first-of-type, #tvShows .card:first-of-type{
		margin-top: 25px;
	}
	#movies > *, #tvShows > *{
		margin: 20px 0;
	}
	.card .overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 400px;
		transition: 0.30s ease-in-out;
		background-color: rgba(0,0,0,0.4);
	}
	.card .overlay .movie{
		position: absolute;
		bottom:0;
		left: 0;
	}
	.card .overlay .movie a{
		display: flex;
		position: relative;
		bottom:0;
		left: 0;
		justify-content: center;
		align-items: center;
		padding: 3px;
		width: 70px;
		height: 30px;
		border: none;
		background-color: #fff;
		color: #13181D;
		margin: 10px 15px;
		cursor: pointer;
		transition: 0.2s ease;
		outline: none !important;
	}
	.card .overlay .movie a:hover{
		background-color: #13181D;
		color: #fff;
	}
	.movie p {
		color: #fff;
		font-size: 16px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.movie p span{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.movie p i {
		margin-left: 5px;
		margin-bottom: 2px;
		font-size: 22px;
	}
	.star {
		color: gold;
	}
	.date {
		color: #f2f2f2;
		text-shadow: 3px 3px rgba(0,0,0,0.35);
	}
	.card .overlay .movie h2{
		width: auto;
		font-size: 30px;
		color: #fff;
		text-transform: uppercase;
		padding: 5px;
		text-align: left;
	}
	.card .card_img img{
		width: 100%;
		height: 400px;
		z-index: 2;
	}
	.card .card_img{
		height: 400px;
		z-index: 2;
		transition: 0.2s ease-out;
	}
}
/* Max-width 530px. */
@media (max-width:530px){
	#movies .card:first-of-type, #tvShows .card:first-of-type{
		margin-top: 25px;
	}
	.card{
		margin: 10px 0;
	}
}
@media (max-width: 455px){
	.moviesRows p{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		justify-content: center;
		padding: 5px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (max-width: 435px){
	#movies .card:first-of-type, #tvShows .card:first-of-type{
		margin-top: 25px;
	}
}

/* Max-width 320 px. */
@media (max-width: 320px){

	.card{
		margin: 20px 0;
		width: 260px;
		height: 470px;
		transition: all 0.35s;
	}
	#movies .card:first-of-type, #tvShows .card:first-of-type{
		margin-top: 25px;
	}
	.card .card_text{
		height: 130px;
	}
	.card_img{
		width: 260px;
	}
	.card_img img{
		width: 260px;
		transition: all 0.35s;
	}
}
@media (max-width: 305px){
	.container h1 {
		font-size: 42px;
	}
}
